h1 {
    color: rgb(63, 28, 145);
    text-align: center;
    text-shadow: black;
    margin-bottom: 30px;
  
}

body {
    background-color:#143d59;
}

/* fixed game window parameters */

#main-container {
    background-color: #e0c0db;
    border: 1px solid black;
    border-radius: 3rem;
    position:absolute;
    width:600px;
    height: 450px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

/* Menu */

#game-type {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;  
}

.cards {
    /* border: 1px solid blue; */
    width:170px;
    height: 320px;
    border-radius: 2rem;
    background-color:#f7f7f7;
    
    
}

.cards h2 {
    text-align: center;
    margin: 20% 0;
}

.cards h2::before {
    content:"Game Mode:";
    font-size: 1.2rem;
    display: block;
    font-weight: bold;
}

.cards ul {
    height: 40%;
    display:flex;
    text-align: center;
    flex-direction: column;
    
}

.cards ul li {
    color:#2E4053;
    font-size: 1.8rem;
}

.play {
    margin:auto;
    display:block;
    color:#f7f7f7;
    background-color: rgb(63, 28, 145);
    width: 10rem;
    height: 4rem;
    border-radius: 1rem;
}

/* Game */

/* Info-bar */

#game-status {
    display:flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 1.5rem;
    /* border: red 1px solid; */
}

#info-difficulty {
    text-transform: uppercase;
}
#game-status p, #word-guess p {
    margin: 0;
}

/* Lives-bar */

#lives-status {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 1.5rem 0;
    width: 400px;
    /* border: blue 1px solid; */
}

ul {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

li {
    justify-content: space-between;
    color: #2E4053;
    margin: 0 1rem;
    font-size: 2rem;   
}

/* Guess-word */

#word-guess {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1rem;
    height: 8rem;
    

}

#word-random {
    font-size: 3rem;
    /* padding: 2rem; */
    
}

/* Keyboard*/

#keyboard {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content:center;
    padding: 1rem 3rem;
    height: 15em;
    /* border: red 1px solid; */
}

.keys, .gameEndButtons {
    position: relative;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    padding: 3px 2px;
    margin: 4px;
    letter-spacing: 0.5px;
    color: #3a3a3a;
    background-color: #f7f7f7;
    box-shadow: 
        inset 0 -2px 0 #4d4c4c,
        inset 0px 1px 1px -1px #fff,
        2px 1px 1px 0px #4d4c4c;
    border-radius: 3px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    user-select: none; 
    cursor: pointer;
    transition:
        transform 0.08s ease,
        background-color 0.08s ease,
        box-shadow 0.08s ease;
    
}

.keys a {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    margin-left: -1px;
    margin-top: 1px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:rgb(68, 66, 66);
 }

.keys:active{
    box-shadow: 
        inset 2px 3px 0px #e0c0db,
        inset 1px 1px 1px 0px #fff,
        1px 1px 1px 0px #e0c0db;

        /* inset 2px 3px 0px #818181,
        inset 1px 1px 1px 0px #fff,
        1px 1px 1px 0px #7a7a7a; */

}
.gameEndButtons:active{
    box-shadow: 
        inset 2px 3px 0px #e0c0db,
        inset 1px 1px 1px 0px #fff,
        1px 1px 1px 0px black;
    padding-top: 8px;
    padding-left: 8px;
    transition:
        transform 0.08s ease,
        background-color 0.08s ease,
        box-shadow 0.08s ease;

}
.keys a:active{
    padding-top: 2px;
    padding-left: 2px;
    transition:
        transform 0.08s ease,
        background-color 0.08s ease,
        box-shadow 0.08s ease;
}

.disable-key {
    box-shadow: 
        inset 2px 3px 0px #818181,
        inset 1px 1px 1px 0px #fff,
        1px 1px 1px 0px #7a7a7a;  
}
/* Random Letter Generator */

#letter-random {
    /* border:  royalblue 1px solid; */
    height: 7rem;
    text-align: center;
    padding-top: 1rem;

}


/* Message-bar */

#action-status {
    text-align: center;
    font-size: 1rem;
    
}

#back-menu {
    display:inline-block;
    text-align: right;
    width: 100%;
    /* border: blue 1px solid; */
    
    /* border: red 1px solid; */
}

#game-menu {
    background-color: transparent;
    color: #2E4053;
    border: 1.5px #f7f7f7 solid;
    border-radius: 1rem;
    margin-right: 20px;
    padding: 0 5px;
    text-transform: uppercase;
    text-align: center;
    
    /* letter-spacing: 0.5rem; */
}

#back-menu #game-menu:hover {
    /* background-color: rgb(63, 28, 145); */
    /* color: #f7f7f7; */
    border: 1.5px rgb(63, 28, 145) solid;
    color: rgb(63, 28, 145);
    text-transform: bold;
    font-weight: bolder;
        
}
/* GameOver  */

#message  {
    color: rgb(63, 28, 145);
    display:flex;
    flex-direction: column;  
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    width: 100%;
 }

#options {
    display:flex;
    flex-direction: column;
    align-items: center; 
}

.gameEndButtons {
    width: 70%;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 1rem;
    background-color: #f7f7f7;
    color:rgb(68, 66, 66);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.won-message {
    color: rgb(63, 28, 145);
    
}

.lost-message {
    color: #943126;
}



